* {
  box-sizing: border-box;
}

body {
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 6rem;
  color: blue;
}

.mainContainer {
  background-color: white;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  outline: 6px dotted blue;
}

.mainContainer:hover {
  cursor: crosshair;
}

.mainContainer > div {
  box-sizing: border-box;
  display: inline-block;
}

button {
  font-family: "Permanent Marker", cursive;
  outline: 3px dotted blue;
  display: block;
  margin: 10px;
  border-radius: 20px;
  font-size: 2rem;
  width: 200px;
  height: 50px;

  cursor: pointer;
}

button:hover {
  color: white;
  background-color: blue;
}

.colorContainer > div {
  margin: 20px;
}

#grid {
  outline: 3px dotted blue;
  font-family: "Permanent Marker", cursive;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.4rem;
  width: 200px;
  height: 50px;

  cursor: pointer;
}

.showGrid > div {
  outline: 1px solid black;
}

.gridActive {
  background-color: darkolivegreen;
}

.showRainbow {
  background-color: darkolivegreen;
}

.backgroundColor {
  background-color: white;
  display: block;
  padding: 10px;
  border-radius: 20px;
  font-size: 1rem;
  width: 200px;
  height: 50px;
  margin: 20px;
  cursor: pointer;
}

#backgroundColor {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 25px;
  display: block;
  margin-top: 20px;
}

#color {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 25px;
  display: block;
  margin-top: 20px;
}

.backgroundColorActive {
  background-color: white;
}

p {
  margin-top: 10px;
  font-size: 2rem;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: blue;
}

.masterContainer {
  display: flex;
}

div > input {
  display: inline-block;
}

.colorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 6px dotted blue;
  width: 300px;
}

label {
  font-size: 1.1rem;
  font-family: "Permanent Marker", cursive;
  color: white;
}
